<nav
  class="text-white gap-4 top-0 absolute z-50 w-full flex justify-end px-2 py-3 bg-slate-900 shadow-md"
>
<a
    class="hover:underline"
    routerLinkActive="text-blue-500 underline"
    routerLink="/loggin"
    >Loggin</a
  >
  <a
    class="hover:underline"
    routerLinkActive="text-blue-500 underline"
    routerLink="/mina"
    >Usuarios </a
  >
  <a
    class="hover:underline"
    routerLinkActive="text-blue-500 underline"
    routerLink="/resgistro_unidades"
    >Resgistro de unidades  </a
  >
   <a
    class="hover:underline"
    routerLinkActive="text-blue-500 underline"
    routerLink="/usuario_receptor"
    >Usuario Receptor </a
  >
  <a
    class="hover:underline"
    routerLinkActive="text-blue-500 underline"
    routerLink="/registro-usuarios"
  >
    Registro de Usuarios
  </a>
</nav>
